@model IEnumerable<Gifter.Models.PersonModel>

@{
    ViewBag.Title = "Schelude";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Surname")
        </th>
        <th>
            @Html.DisplayName("Aditional Informations")
        </th>
        <th>
            @Html.DisplayName("Birht date")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.ActionLink(item.FirstName, "Details", "Persons", new { id = item.UserId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SirName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
    </tr>
}

</table>
@ViewBag.Days
@ViewBag.StartDayOfWeek

