<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Style", required: false)
</head>
<body class="bg-dark">
    <div class="navbar navbar-expand-lg navbar-dark bg-secondary ">
        @Html.ActionLink("Gifter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Expand</button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="nav navbar-nav">
                @{ 
                    if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Categories", "Index", "Categories", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("People", "Index", "Persons", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Schelude", "Index", "Schelude", null, new { @class = "nav-link" })</li>
                    }
                }

            </ul>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
    <div class="container">

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2021 - Gifter MVC 5 ASP.NET</p>
            </footer>
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
